html {
    background: #e6e9e9;
    /*background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);*/
    background-image: url("http://i2.cdn.cnn.com/cnnnext/dam/assets/150909155452-awards-season-2015-2016-background-full-169.jpg");
    webkit-font-smoothing: auntialiased;
}

body {
    /*background-image: url("http://i2.cdn.cnn.com/cnnnext/dam/assets/150909155452-awards-season-2015-2016-background-full-169.jpg");*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #FF8901;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    color: #FF1;
    font-weight: 900;
    line-height: 2.0;
    align-items: center
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}